<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959405730943-hb9aiue4b3t5p67eh2mfsok3rb8ujo61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959405730943-hb9aiue4b3t5p67eh2mfsok3rb8ujo61</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>959405730943-ak78eppeqmbsd4p4nciqheqajreepp6t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlpMZAVSC0twYDp6rXurl-fcG4JaNKYdU</string>
	<key>GCM_SENDER_ID</key>
	<string>959405730943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.exemple.Crocopark</string>
	<key>PROJECT_ID</key>
	<string>crocoplantvf</string>
	<key>STORAGE_BUCKET</key>
	<string>crocoplantvf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959405730943:ios:0ca3cf837a9328fdd3634a</string>
	<key>DATABASE_URL</key>
	<string>https://crocoplantvf.firebaseio.com</string>
</dict>
</plist>